body {
  padding: 10px;
  font-family: sans-serif;
}

/* span {
  display: block;
} */
span {
  display:flexbox;
}

/* div {
  display: block;
} */

/* .span2 {
  position: static;
  background: yellow;
} */